<html>
    <head>
        <title>Django Girls blog</title>
        <!--link rel="stylesheet" href="styles.css"-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div>
            <h1>Django Girls Blog</h1>
        </div>
        
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
        <!--<div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>At the heart of the GameStop saga is a struggle between two drastically different groups of investors: A band of amateur day traders versus a bunch of Wall Street pros known as short-sellers.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Their mission has two main goals: Drive up stock prices to score profits for themselves, and at the same time, force the establishment investors to abandon bearish bets against struggling companies such as GameStop (GME), AMC (AMC), Macy's (M) and several others.</p>
        </div>-->
    </body>
</html>